<div class="container">
  <div class="row">
    <div class="mt-5 col-md-3">
        <span><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movie['poster_path'],class: "card-img" %></sapn>
    </div>


  <div class="mt-5 col-md-9">
        <div class="row">
          <p class="col-md-3 admin-item-title">製作時期:</p>
          <p class="col-md-3"><%= @movie['release_date'] %></p>
        </div>
        <div class="row">
          <p class="col-md-3">作品タイトル:</p>
          <p class="col-md-3"><%= @movie['title'] %></p>
        </div>
        <div class="row">
          <p class="col-md-3">あらすじ:</p>
          <p class="col-md-12"><%= @movie['overview'] %></p>
        </div>
        <div class="row">
          <p class="col-md-3">この作品の評価：</p>
            <div id="star-rate-<%= @movie.id %>"></div>
          </div>
        </div>
        <script>
        $(function(){
          $('#star-rate-<%= @movie.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @reviews.average(:rate).to_f.round(1) %>,
            //scoreName: 'review[rate]'
          });
        });
        </script>
        <style>
          #star-rate-<%= @movie.id %> img {
            width: 25px;
            height: 25px;
          }
        </style>
        <div class="row">
　        <div class="col-md-4">
　          <% if user_signed_in? %>
              <% if @good.present? %>
                <%= link_to good_path(@good, :movie_id => @movie.id),method: :delete, class: "fas fa-thumbs-up" do %>
                  <%= @user_goods.count %>
                <% end %>
              <% else %>
                <%= link_to goods_path(:movie_id => @movie.id),method: :post, class: "fas fa-thumbs-up" do %>
                  <%= @user_goods.count %>
                <% end %>
              <% end %>
        <div class="row">
　        <div class="col-md-4">
              <% if @bad.present? %>
                <%= link_to bad_path(@bad, :movie_id => @movie.id),method: :delete, class: 'fas fa-thumbs-down' do %>
                  <%= @user_bads.count %>
                <% end %>
              <% else %>
                <%= link_to bads_path(:movie_id => @movie.id),method: :post, class: 'fas fa-thumbs-down'  do %>
                  <%= @user_bads.count %>
                <% end %>
              <% end %>
            <% end %>
　          <%#= button_to 'Good', review_goods_path, class:'good-btn' %>
　          <%#= button_to 'Bad', review_bads_path, class:'bad-btn' %>
          </p>
        </div>

        <div class="row">
          <p class="col-md-12">
            <% if current_user.interests.find_by(movie_id: @movie.id).present? %>
              <%= link_to "追加済み", movie_interests_path(@movie.id), class:"btn btn-info btn-sm mr-2", method: :delete, data: { confirm: '気になるリストから削除してもよろしいですか？' } %>
            <% else %>
              <%= link_to "気になるリストに追加する", movie_interests_path(@movie.id), class:"btn btn-warning btn-sm mr-2", method: :post %>
            <% end %>
          </p>
        </div>
        <div class="row">
          <p class="col-md-12"><%= link_to "この作品にレビューを投稿する", new_review_path(movie_id: @movie.id), class: "btn btn-success btn-lg pull-right" %></p>
        </div>

        <div class="row">
          <p class="col-md-12"><%= link_to "他の作品を探す", search_movies_path, class: "btn btn-success btn-lg pull-right" %></p>
        </div>
    </div>
  </div>
</div>

 <%= render 'reviews/index', review: @review %>