<div class="container">
  <div class="row">
    <div class="mt-5 col-md-3">
      <span><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movie['poster_path'],class: "card-img" %></sapn>
      <% if user_signed_in? %>
        <div id="good-bad">
          <%= render partial: 'goods/good-btn', locals: {goods_count: @goods_count,bads_count: @bads_count,  movie_id: @movie.id} %>
        </div>
      <% end %>
      <div class="row">
        <p class="col-md-12">
          <% if user_signed_in? %>
            <% if current_user.interests.find_by(movie_id: @movie.id).present? %>
              <%= link_to "追加済み", movie_interests_path(@movie.id), class:"btn btn-info btn-lg", method: :delete, data: { confirm: '気になるリストから削除してもよろしいですか？' } %>
            <% else %>
              <%= link_to "気になるリストに追加", movie_interests_path(@movie.id), class:"btn btn-warning btn-lg", method: :post %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
      <div class="mt-5 col-md-9">
        <div class="row">
          <p class="col-md-3 admin-item-title">製作時期:</p>
          <p class="col-md-3"><%= @movie['release_date'] %></p>
        </div>
        <div class="row">
          <p class="col-md-3">作品タイトル:</p>
          <p class="col-md-3"><%= @movie['title'] %></p>
        </div>
        <div class="row">
          <p class="col-md-3">あらすじ:</p>
          <p class="col-md-12"><%= @movie['overview'] %></p>
        </div>
        <div class="row">
          <p class="col-md-3">この作品の評価：</p>
          <div id="star-rate-<%= @movie.id %>"></div>
        </div>
      </div>
      <script>
        $(function(){
          $('#star-rate-<%= @movie.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @total_reviews.average(:rate).to_f.round(1) %>,
            //scoreName: 'review[rate]'
          });
        });
      </script>
      <style>
          #star-rate-<%= @movie.id %> img {
            width: 25px;
            height: 25px;
          }
      </style>
      <div class="row">
        <div class="col-md-12">
          <% if user_signed_in? %>
            <p><%= link_to "レビューを投稿する", new_review_path(movie_id: @movie.id), class: "btn btn-success btn-lg pull-right" %></p>
          <% else %>
            <p><%= link_to "ログインしてレビューを投稿する", new_user_session_path(movie_id: @movie.id), class: "btn btn-success btn-lg pull-right" %></p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p><%= link_to "他の作品を探す", search_movies_path, class: "btn btn-primary btn-lg" %></p>
        </div>
      </div>
  </div>
</div>
<%= render 'reviews/index', review: @review %>