<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <table class='table'>
          <tr><%= attachment_image_tag(@user, :image, fallback: "no_profile_image.jpg",size: "200x200") %></tr>
          <tr>
        	  <th>氏名</th><th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>自己紹介</th>
        	  <th><%= @user.introduction %></th>
          </tr>
          <tr>
            <th>フォロー数</th>
            <th><%= link_to @user.following_user.count, followed_user_path(@user.id) %></th>
          </tr>
          <tr>
            <th>フォロワー数</th>
            <th><%= link_to @user.follower_user.count, follower_user_path(@user.id) %></th>
          </tr>
          <tr>
            <th>お気に入りに追加した作品</th>
            <th><%= link_to @user.interests.count, user_interests_path(@user.id) %></th>
          </tr>
      </table>
      <% if current_user == @user %>
        <div class='row'>
          <%= link_to '',edit_user_path(@user.id),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
        </div>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST, class: "btn btn-sm btn-success" %>
        <% else %>
          <%= link_to 'フォローする', follow_path(@user.id), method: :POST, class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>